* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.btn-priamry {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: none;
    padding: 18px 35px;
    background: #FD6E0A;
    border-radius: 5px;
}
section{
    margin-top: 130px;
}
/* ---header and navbar part style goes here--- */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-logo {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-left: 50px;
}

.primary-color {
    color: #FD6E0A;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: contain;
}

/* ---header and navbar part style end here--- */
/* ---header and banner part style start here--- */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-text h3 {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-text h1 {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    text-transform: capitalize;
}

.banner-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 30px;
}

.banner-text .btn-priamry {
    height: 64px;
}

.banner-text .btn-secondary {
    padding: 18px 24px;
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    height: 64px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* ---about part style start here--- */
.about {
    text-align: center;
    padding: 130px 156px;
    background: #FFF8F3;
    border-radius: 10px;
}

.section-titel {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;
    padding-bottom: 30px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-titel {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
    text-transform: capitalize;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

/* ---about part style end here--- */
/* ---what-i-do part style end here--- */
.what-i-do .section-titel {
    text-align: center;
}

.what-i-do .section-description {
    padding: 0 156px;
    text-align: center;
}

.skils-container {
    display: flex;
    /* justify-content: space-around; */
    gap: 24px;
    padding-top: 40px ;
}

.skils-item {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skils-titel {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    padding-top: 30px;
}

.skils-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding-top: 20px;
}

/* ---summary-and-resume part style end here--- */
.summary-and-resume{
    
}
/* ---summary-and-resume part style end here--- */
/* ---header and navbar part style end here--- */